################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.db
*.json
*.sqlite
*.db-wal
*.db-shm
*.opendb
/.vs/Object-oriented_programming_FMI_2021-2022/v17/ipch/AutoPCH/5aa3d67175e88a5/VCTMP5968_848830.STRING.86DB11AC.ipch
